<%= form_for :session, url: session_path do |form| %>

  <%= render partial: '/users/form', object: form %>
  <div class="submit-field pt-3">
    <%= form.submit "Log in", class: "btn btn-primary" %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
