<!-- Col 3 -->
<div class="container"> 
  <div class="row gx-5">
    <div class="col-sm-3">
      <div class="content p-2">
        <div class="row">
          <%= image_tag user_avatar(@user, size=500), class: "rounded-circle" %>
        </div> 

        <div class="row">
          <h1>@<%= @user.username %></h1>
          <p> Description </p>
        </div>

        <div class="row">
          <% if is_current_user?(@user) %>
            <%= link_to "Edit Account", edit_user_path(@user), class: 'btn btn-primary' %>
          <% else %>
            <%= render partial: '/users/follow_form', object: @user %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="content p-3">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Protocols</a>
          </li>
        </ul>

        <!-- TODO tab-able -->
        <div class="row p-4">
          <% @user_protocols.each do |p| %>
            <div class="row pt-2">
              <%= render partial: "/protocols/card", locals: { protocol: p } %>
            </div> 
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
