<!-- Col 3 -->
<h2>@<%= @user.username %></h2>
<p> User Info </p>
<% if is_current_user?(@user) %>
  <p> TODO EDIT </p>
<% else %>
  <%= render partial: '/users/follow_form', object: @user %>
<% end %>

<!-- Col 9 -->
<h3> Protocols </h3>
<div>
  <% @user_protocols.each do |p| %>
    <! -- card -->
    <div>
      <%= link_to protocol_path(p) do %>
        <p><%= p.name %></p>
        <p><%= p.description %></p>
        <p><%= p.favorited_by.count %> favorite </p> 
      <% end %>
    </div>
  <% end%>
</div>
