<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <small id="name_help" class="form-text text-muted">The name of the protocol</small>
</div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_field :description, class: 'form-control' %>
  <small id="description_help" class="form-text text-muted">What is this protocol about?</small>
</div>

<div class="form-group">
  <%= form.label :private, "Private", value: "true" %>
  <%= form.radio_button :private, true, :checked => default_private_value %>
  <%= form.label :private, "Public", value: "false" %>
  <%= form.radio_button :private, false, :checked => !default_private_value %>
  <small id="private_help" class="form-text text-muted">Toggle whether this protocol is visible publicly</small>
</div>

<hr/>

<div class="form-group">
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
    <small id="content_help" class="form-text text-muted">What are the necessary equipment, materials and reagents?</small>
  </div>
</div>
