<h1>Create new protocol</h1>
<%= form_with(model: @proto) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <small id="name_help" class="form-text text-muted">The name of the protocol</small>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <small id="description_help" class="form-text text-muted">What is this protocol about?</small>
  </div>

  <%= f.submit "Create", class: "btn btn-primary"%>
<% end %>
