<div class="row">
  <div class="row"> 
    <div class="col-md-11">
      <%= user_protocol_header(@proto) %>
    </div>
    <div class="col-md-1">
      <%= visibility_badge(@proto) %>
    </div>
  </div>

  <div class="row">
    <p>
    <%= @proto.description %>
    </p>

    <% if current_user.owns?(@proto) %>
      <%= link_to "Edit", edit_protocol_path(@proto) %>
    <% end %>
  </div>

  <section name="protocol_content">
    <div class="mt-3 mb-3">
      <%= @proto.content %>
    </div>
  </section>

  <%= render partial: "/protocols/favorite_button", locals: { protocol: @proto, expanded_view: true } %>
</div>

