<h1><%= link_to @proto.owner.username, user_path(@proto.owner) %>/<%= @proto.name %></h1>
<%= render_visibility_badge(@proto) %>
<%= @proto.description %>

<%= link_to "Edit", edit_protocol_path(@proto) %>

<h2>Popularity</h2>
Favourited by <%= @proto.favorited_by.size %> users.

<%= @proto.content %>

<%= render partial: "/protocols/favorite_button", locals: { protocol: @proto } %>

