<h1><%= link_to @proto.owner.username, user_path(@proto.owner) %>/<%= @proto.name %></h1>
<%= render_visibility_badge(@proto) %>
<%= @proto.description %>

<%= link_to "Edit", edit_protocol_path(@proto) %>

<h2>Popularity</h2>
Favourited by <%= @proto.favorited_by.size %> users.

<h2> Equipment </h2>
<%= @proto.equipment %>

<h2> Materials </h2>
<%= @proto.materials %>

<h2> Reagents </h2>
<%= @proto.reagents %>

<% if has_favorited?(current_user, @proto) %>
  <%= button_to "Unfavorite", favorite_protocol_path(@proto, action_type: "unfavorite"), method: :put %>
<% else %>
  <%= button_to "Favorite", favorite_protocol_path(@proto, action_type: "favorite"), method: :put %>
<% end %>

<h2>History</h2>
<%= render partial: "/protocols/history", object: @proto %>
