<!DOCTYPE html>
<html>
  <head>
    <title>Amplicon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
    <div class="nav">
      <h1> Amplicon </h1>
        <%= link_to current_user.username, user_path(current_user) %>
        <%= link_to "Create new protocol", new_protocol_path %>
        <%= link_to "Sign out", sign_out_path, method: :delete %>
    </div>
    <% end %>

    <div id="flash-container">
      <% if !flash.empty? %>
        <div class="container py-2">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, class: "alert alert-#{name} alert-dismissible fade show" do %>
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
          <%end%>
        </div>
      <%end%>
    </div>

    <%= yield %>
  </body>
</html>
