<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/notices' %>

    <div class="container mx-auto">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
