<!DOCTYPE html>
<html>
  <head>
    <title>Amplicon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <h1> Amplicon </h1>
      <%= link_to current_user.email, user_path(current_user) %>
    </div>

    <%= yield %>
  </body>
</html>
